<div class="d-flex flex justify-content-center" style="margin-left: 50px; margin: 20px; width: 60rem; margin-top: 50px;">
  <p style="font-size: 24px; font-weight: 900">Login</p>
  <%= form_with(scope: :session, url: login_path) do |f| %>
    <div class="mb-3">
        <label for="login" class="form-label">Nome do usuário</label>
        <%= f.text_field :username, class: "form-control" %>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Senha</label>
        <%= f.password_field :password, class: "form-control" %>
      </div>

      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">
          <a class="navbar-brand" href="signup">
            Criar conta 
            <span class="sr-only"></span>
          </a>
        </label>
      </div>

      <div class="mb-3 form-group" style="margin-top: 10px">
        <%= f.submit "Fazer login", class: "btn btn-primary"%>
    </div> 
  <% end %>
</div>