<div class="d-flex flex justify-content-center" style="margin: 20px; width: 150rem; margin-top: 50px;">
<% if logged_in?%>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#" style="font-size: 30px">Entrada/Saída nos materiais</a>
  </nav>
  <div class="d-flex flex justify-content-center" style="margin: 10px; width: 60rem; margin-top: 50px;">
  <p style="font-size: 24px; font-weight: 900"></p>
  <%= form_with(model: @material_stock, url: material_stocks_path(material_stock: { material_id: @material_id, flag: @flag}), html: { method: :post }) do |f| %>
    <div class="mb-3">
      <label for="exampleInputName1" class="form-label">Quantidade</label>
      <%= f.text_field :quantity, class: "form-control" %>
    </div>
    <div class="mb-3 form-group" style="margin-top: 10px">
      <%= f.submit "Cadastrar", class: "btn btn-primary"%>
    </div>
  <% end %>
  </div>
<% else %>
  <script>
    window.location.href="/login"
  </script>
<%end%>
</div>

