<div class="d-flex flex justify-content-center" style="margin: 20px; width: 150rem; margin-top: 50px;">
<% if logged_in?%>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" style="font-size:30px">Usuários</a>
    <a class="navbar-brand" href="../materials">Materiais <span class="sr-only">(current)</span></a>
    <a class="navbar-brand" href="login">Sair <span class="sr-only"></span></a>
</nav>

<div id="materials">
  <table class="table">
    <thead>
     <tr>
       <th scope="col">id</th>
       <th scope="col">Nome</th>
      </tr>
   </thead>
   <% @items.each do |user| %>  
    <tbody>
     <tr>
        <th scope="row"><%= user.id%></th>
        <td><%= user.username%></td>
      </tr>
      </tbody>
    <% end %>
  </table>
</div>

<% else %>
  <script>
    window.location.href="/login"
  </script>
<%end%>

</div>