<div class="d-flex flex justify-content-center" style="margin: 20px; width: 60rem; margin-top: 50px;">
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#" style="font-size:30px">Cadastro de usuários</a>
  </nav>
  <p style="font-size: 24px; font-weight: 900"></p>
  <%= form_with(model: @user, local: true) do |f| %>
    <div class="mb-3">
      <label for="exampleInputName1" class="form-label">Nome</label>
      <%= f.text_field :username, class: "form-control" %>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Senha</label>
      <%= f.password_field :password, class: "form-control" %>
    </div>
    <div class="mb-3 form-group" style="margin-top: 10px">
      <%= f.submit "Cadastrar", class: "btn btn-primary"%>
    </div>
  <% end %>
</div>


