<div class="d-flex flex justify-content-center" style="margin: 20px; width: 150rem; margin-top: 50px;">
<% if logged_in?%>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#" style="font-size: 30px">Editar material</a>
  </nav>
  <div class="d-flex flex justify-content-center" style="margin: 10px; width: 60rem; margin-top: 50px;">
  <p style="font-size: 24px; font-weight: 900"></p>
  <%= form_with(model: @material, url: material_path, html: { method: :patch }) do |f| %>
    <div class="mb-3">
      <label for="exampleInputName1" class="form-label">Novo nome</label>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="mb-3 form-group" style="margin-top: 10px">
      <%= f.submit "Salvar", class: "btn btn-primary"%>
    </div>
  <% end %>
  </div>

<% else %>
  <script>
    window.location.href="/login"
  </script>
<%end%>
</div>

