<div class="d-flex flex justify-content-center" style="margin: 20px; width: 150rem; margin-top: 50px;">
<% if logged_in?%>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" style="font-size:30px">Materiais</a>
    <a class="navbar-brand" href="../users">Usuários <span class="sr-only">(current)</span></a>
    <a class="navbar-brand" href="materials/new">Novo material <span class="sr-only"></span></a>
    <a class="navbar-brand" href="login">Sair <span class="sr-only"></span></a>
</nav>

<div id="materials">
  <table class="table">
  <h4>Filtrar material</h4>
  <%= form_tag(materials_path, method: :get) do%>
  <%= text_field_tag(:search, params[:search])%>
  <%= submit_tag("Buscar")%>
  <% end %>
    <thead>
     <tr>
       <th scope="col">id</th>
       <th scope="col">Nome</th>
       <th scope="col">Items</th>
       <th scope="col">Entrada</th>
       <th scope="col">Saída</th>
       <th scope="col">Remover</th>
       <th scope="col">Movimentações</th>
       <th scope="col">Editar</th>
      </tr>
   </thead>
   <% @items.each do |material| %>  
    <tbody>
     <tr>
        <th scope="row"><%= material.id%></th>
        <td><%= material.name%></td>
        <td>
          <% if material.material_stock.nil? %> 
            0 
          <%else%> 
            <%= material.material_stock.quantity.to_i %> 
          <%end%> 
        </td>
        <td>
          <button type="button" class="btn btn-success">
           <%= link_to "Dar entrada", new_material_stock_path(material_stock: { material_id: material.id, flag: "add"} ) %> 
          </button>
        </td>
        <td> 
         <% if material&.material_stock&.quantity.to_i > 0%>
            <button type="button" class="btn btn-warning">
              <%= link_to "Saída", new_material_stock_path(material_stock: { material_id: material.id, flag: "remove"} ) %> 
            </button>
          <% else %>
            <button type="button" class="btn btn-warning">
              <label>Saída</label>
            </button>
          <%end%>
        </td>
        <td> <%= button_to "delete", material, :method => :delete %></td>
        <td>
          <button type="button" class="btn btn-link" href="/logs">
            <%= link_to "Movimentações", logs_path(log: { material_id: material.id } ) %> 
          </button>
        </td>
        <td>
          <button type="button" class="btn btn-link" href="#">
            <%= link_to "Editar", edit_material_path(material) %>
          </button>
        </td>
      </tr>
      </tbody>
    <% end %>
  </table>
</div>
<% else %>
  <script>
    window.location.href="/login"
  </script>
<%end%>
</div>